.button {
  height: 44px;
  box-sizing: border-box;
  padding: 8px 28px;
  background-color: var(--tuscany1);
  color: #fff;
  border-radius: 28px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 5px 10px 30px rgba(212, 210, 244, 0.5);
  cursor: pointer;
  transition: background-color, transform 0.3s;
}

.button:hover {
  background-color: var(--tuscany2);
}

.button:active {
  transform: scale(0.98);
}

@media screen and (min-width: 1024px) {
  .button {
    height: 56px;
    padding: 14px 45px;
    font-size: 16px;
  }
}