.footer {
  background-color: var(--tuscany4);
  padding: 46px 0;
  color: var(--white);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-direction p {
  font-size: 16px;
  line-height: 24px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contact span {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer-social a {
  text-decoration: none;
}

.footer-social a i {
  font-size: 35px;
  transition: color 0.3s;
}

.footer i {
  color: var(--tuscany2);
  font-size: 24px;
}

.footer-social a i:hover {
  color: var(--tuscany1);
}