@import './fonts.css';
@import './icons.css';
@import './wrapper.css';
@import './button.css';
@import './header.css';
@import './hero.css';
@import './grid.css';
@import './perfil.css';
@import './contact.css';
@import './footer.css';

:root {
  --black: #030303;
  --mediumBrown: #7A746E;
  --lightCream: #FFF7F0;
  --white: #FFF;
  --facebook: #286DB1;
  --youtube: #F20000;
  /* Section color */
  --tuscany1: #C71918;
  --tuscany2: #E63F20;
  --tuscany3: #78B53C;
  --tuscany4: #2CA5DC;
  --tuscany5: #F2811D;
  --tuscany6: #FFA606;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  background-color: var(--lightCream);
}

@media screen and (min-width: 1024px) {
  

  main {
    margin-bottom: 150px;
  }
}