@import './fonts.css';
@import './wrapper.css';
@import './button.css';
@import './header.css';
@import './hero.css';
@import './grid.css';

:root {
  --black: #030303;
  --mediumBrown: #7A746E;
  --lightCream: #FFF7F0;
  --white: #FFF;
  /* Section color */
  --tuscany1: #730217;
  --tuscany2: #0396A6;
  --tuscany3: #F2B56B;
  --tuscany4: #D96B52;
  --tuscany5: #F2811D;
  --tuscany6: #A62139;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  background-color: var(--lightCream);
}

@media screen and (min-width: 1024px) {
  

  body {
    border: 1px solid red;
  }
}