.perfil-content {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.perfil-img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--tuscany3);
  position: relative;
  overflow: hidden;
}

.perfil-img img {
  position: absolute;
  top: 100px;
  left: -150px;
  transform: rotate(-30deg);
}

.perfil-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.perfil-body h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32.76px;
  margin: 0;
}

.perfil-body p {
  color: var(--mediumBrown);
  line-height: 28px;
  margin: 0;
}

.perfil-body .button {
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .perfil-content {
    flex-direction: row;
    margin-bottom: 88px;
  }

  .perfil-body {
    width: 540px;
    text-align: left;
    gap: 34px;
    justify-content: center;
  }

  .perfil-img {
    width: 445px;
    height: 445px;
  }

  .perfil-img img {
    top: 150px;
    left: -50px;
  }

  .perfil-body h2 {
    font-size: 40px;
    line-height: 50.4px;
  }

  .perfil-body p {
    font-size: 18px;
    line-height: 28px;
  }

  .perfil-body .button {
    align-self: flex-start;
  }
}