.slider {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 100px;
}

#historietas {
  font-size:24px ;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.slide-container {
  width: 100vw;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide a {
  position: absolute;
  text-decoration: none;
  background-color: var(--tuscany1);
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heart 1s infinite alternate-reverse;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

.slide a:active {
  transform: scale(0.98);
}

.slide a i {
  color: var(--white);
}


@media screen and (min-width:1024px) {
  .slide-container {
    height: 400px;
    width: 1000px;
    margin: 0 auto;
  }

  .slide {
   overflow: hidden;
  }

  .slide a {
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
  }
}


